.movie-video-component-container {
    .video-container {
    }
    .movie-interactions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .movie-info-container {
            text-align: start;
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: white;
            .movie-info-title {
                font-size: 24px;
                font-weight: bold;
                margin: 10px 0;
            }
            .movie-info-description {
                font-size: 16px;
                line-height: 15px;
            }
            .movie-details {
                margin: 10px 0;
                font-size: 14px;
            }
        }        
    }

}